body {
    margin: 0;
}
#header {
    height: 70px;
    background: rgb(90, 90, 90);
}
#headerElementsLeft {
    float: left;
}
#headerElementsLeft p{
    margin-left: 50px;
    font-size: 40px;
    margin-top: 7px;
    color: aliceblue;
}
#headerElementsRight {
    float: right;
    display: flex;
    margin-right: 20px;
}
#headerElementsRight p{
    margin-right: 30px;
    font-size: 25px;
    margin-top: 16px;
    color: aliceblue;
}
#page1 {
    background: black;
    width: 100%;
    height:100%;
}
#imgPage1 {
    width: 700px;
    padding-top: 94px;
}
#contentPage1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: black;
}
#title{
    display: flex;
    color:aliceblue;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#title2{
    display: flex;
    color:aliceblue;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#titleKiel {
    font-size: 111px;
}
#titleFront {
    font-size: 40px;
}
#downArrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}